body{background-color:#9E754F}
h1{color:#125394;
font-family: Times New Roman;
font-size: 50px;
text-align: center;
background-color:#6E2D0C ;
margin: 30px;
padding: 30px;}
p{color:#000000;
	font-family: helvetica;
	font-size: 20px;
text-align: center;
margin-bottom: 30px;}
img{border-style: groove;
border-width: 10px;color:#803F1F;
display:block;
margin-left:auto; 
margin-right: auto;}
a{text-decoration: none;
font-family:Times New Roman;
font-size:20px; }
a:hover{color:#392E99;
font-size:30px;}
ul li {list-style:none;
background-color:#6B5EBF;
display:inline-block; 
border-style: double;
padding: 5px;}
iframe{display:block;
margin:auto;}

